---
import { siteConfig } from "@/config/site";
---

<header class="page-shell pb-0">
  <div class="site-stack">
    <div class="flex justify-center">
      <a href="/" class="brand-lockup text-primary">
        <img src="/logo.svg" alt={siteConfig.name} class="brand-mark" />
        <span class="text-2xl font-semibold tracking-[-0.05em]">{siteConfig.name}</span>
      </a>
    </div>
  </div>
</header>
